{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<input id="input" type="number">
<button id="btn">Apasa</button>
<br>
<div id="div"></div>
{% endblock %}

{% block javascripts %}
    <script>
        const inputValue = document.getElementById('input');
        const button = document.getElementById('btn');
        let display = document.getElementById('div');
        const random = {{ randomNumber }};

        button.addEventListener('click', () => {
        display.innerHTML = '';
        if (inputValue.value > random) {
            display.innerHTML = `Numarul ${inputValue.value} este mai mare decat ${random}`;
        }
        if (inputValue.value < random) {
            display.innerHTML = `Numarul ${inputValue.value} este mai mic decat ${random}`;
        }
        if (inputValue.value == random) {
            display.innerHTML = `Numarul ${inputValue.value} este egal cu ${random}`;
    }
})

    </script>
{% endblock %}
